/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*{
    box-sizing: border-box;
}
body {
	line-height: 1;
    margin: 0;
    padding: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// ----------------------------------------------------- //
@mixin size ($w, $h){
    width: $w;
    height: $h;
}
@mixin  font ($size, $height, $color, $align){
    font-size: $size;
    line-height: $height;
    color: $color;
    text-align: $align;
}
@mixin flex ($justify-content, $align-items, $direction){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $direction;
}
// ----------------------------------------------------- //
header{
    display: flex;
    flex-wrap: wrap;
    #social-media{
        @include flex(flex-end, unset, unset);
        width: 100%;
        background-color: #f6f6f6;
        padding: 10px 23px 10px 10px;
        .website{
            @include flex(unset, center, unset);
            color: #4460a0;
            span{
                padding-left: 5px;
            }
        }
        .website:last-child{
            color: #00aaec;
        }
        .line{
            border: 1px solid #cccccc;
            margin: 0 10px;
        }
    }
    nav{
        width: 100%;
        @include flex(space-between, center, unset);
        h1{
            a{
                @include size(224px, 50px);
                background-image: url(../img/logo.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                display: block;
                text-indent: 101%;
                overflow: hidden;
                white-space: nowrap;
                margin-left: 10px;
            }
        }
        #mainbav{
            @include flex(space-around, unset, unset);
            width: 300px;
            position: relative;
            li{
                a{
                    color: #11cfa0;
                }
                a:hover{
                    color: #cccccc;
                }
            }
            li:first-child::after{
                @include size(20%, 3px);
                content: '';
                display: block;
                background-color:  #11cfa0;
                position: absolute;
                left: 10px;
                bottom: -17px;
            }
            li:first-child:hover::after{
                background-color: #cccccc;
            }
        }
    }
}
main{
    #banner{
        position: relative;
        img{
            width: 100%;
            display:block;
        }
        div{
            @include size(100%, 160px);
            background-color: #02020252;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            p{
                @include font(36px, 48px, #ffffff, left);
                padding: 30px;
            }
        }
    }
    #item{
        margin: 60px auto;
        ul{
            @include flex(space-around, unset, unset);
            li{
                @include size(300px, 330px);
                filter: drop-shadow(0px 3px 1.5px rgba(0,0,0,0.16));
                background-color: #ffffff;
                padding: 20px;
                border-radius: 3px;
                text-align: center;
                img{
                    max-width: 260px;
                    min-height: 139px;
                    object-fit: none;
                }
                h2{
                    @include font(18px, 24px, #333333, unset);
                    font-weight: bold;
                    margin: 10px 0;
                }
                p{
                    @include font(15px, 22px, #333333, left);
                }
            }
        }
    }
    #course{
        max-width: 900px;
        margin: 62px auto;
        h3{
            @include font(24px, 22px, #333333, center);
            margin: 30px 0;
        }
        table{
            width: 100%;
            th,tr{
                border-top: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
            }
            th{
                @include font(15px, 36px, unset, left);
                background-color: #f7f7f7;
                padding: 3px;
            }
            td{
                @include font(15px, 36px, #4e4e4e, left);
                padding: 3px;
            }
            td:first-child, th:first-child{
                text-indent: 20px;
            }
            .change-color{
                color: #22b28e;
            }
        }
    }
    #form{
        height: 450px;
        background-image: linear-gradient(0deg, #009872 0%, #00644b 100%);
        p{
            @include font(24px, 36px, #ffffff, center);
            padding: 35px 0;
        }
        div{
            @include flex(space-evenly, unset, unset);
            textarea{
                @include size(460px, 245px);
                border-radius: 3px;
                border: 1px solid #e1e1e1;
                resize: none;
            }
            div{
                @include flex(unset, unset, column);
                label{
                    @include font(15px, 24px, #ffffff, unset);
                }
                input{
                    @include size(460px, 32px);
                    border-radius: 3px;
                    background-color: #ffffff;
                    border: 1px solid #e1e1e1;
                    margin-bottom: 15px;
                    padding: 15px;
                }
                div{
                    @include flex(flex-end, unset, unset);
                    button{
                        @include size(70px, 32px);
                        @include font(15px, 24px, #ffffff, center);
                        border-radius: 3px;
                        background-color: #00cc99;
                        border: unset;
                    }
                }
            }
        }
    }
}
footer{
    @include flex(space-between, unset, unset);
    margin: 30px 20px;
    .logo{
        @include size(171px, 36px);
        background-image: url(../img/footerLogo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .mail{
        margin-bottom: 15px;
    }
    span{
        color: #e12d80;
    }
}